<form class="bg-light text-center col-md-8" action="/editbike/{{bike._id}}" method="post">
   <div>
      <h1 class="text text-primary">Edit Bike</h1>
   </div>
   {{!-- <div class="form-group mt-3">
      <label class="text text-success">Name</label>
      <input class="form-control" type="text" name="name" value="{{ bike.name }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Brand</label>
      <input class="form-control" type="text" name="brand" value="{{ bike.brand }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Origin</label>
      <input class="form-control" type="text" name="origin" value="{{ bike.origin }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Quantity</label>
      <input class="form-control" type="number" name="quantity" value="{{ bike.quantity}}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Image</label><br>
      <img src="{{ toy.image}}" width="100" height="100"><br>
      <input class="form-control" type="text" name="image" value="{{bike.image }}" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Price</label><br>
      <input class="form-control" type="text" name="video" value="{{ bike.price }}" required>
   </div>
   <div class="form-group mt-3">
      <input class="btn btn-danger" type="submit" value="Edit">
   </div>
</form> --}}